@import "tailwindcss";

[x-cloak] { display: none !important; }

@theme {
  --color-black-blue: #020513;

  /* --font-sans: */
  /* "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", */
  /* "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */

  /* --font-sans: var(--font-inter); */

  /* --default-font-family: var(--font-sans); */
}

@theme inline {
  --font-sans: var(--font-inter);
  --default-font-family: var(--font-sans);
}
