---

const { id } = Astro.props;
---

<section id={id} class="w-full h-[calc(100svh-3rem)] md:h-[calc(100svh-3.5rem)] scroll-mt-[3rem] md:scroll-mt-[3.5rem] lg:h-[calc(100svh-4rem)] lg:scroll-mt-[4rem] flex">
  <slot/>
</section>
