---
import BaseLayout from "../layout/BaseLayout.astro"
import BaseSection from "../components/sections/BaseSection.astro"
import PagesMenu from "../components/menus/PagesMenu.astro"

const id = "works";
const sections = [
  { label: "Мода", href: "#" },
  { label: "Красота", href: "#" },
  { label: "Продукт", href: "#" },
  { label: "Портрет", href: "#" },
  { label: "Коллаж", href: "#" },
];
---

<BaseLayout>
<BaseSection {id}>
<div class="flex flex-col lg:flex-row gap-8 w-full h-full">
					<!-- Left Half: Image -->
					<div class="w-full h-1/2 lg:flex-1 lg:h-full">
						<img src="https://picsum.photos/1200/1200" alt="Retouch" class="w-full h-full object-cover clip-slant-bottom sm:clip-path-none">
					</div>
<!-- Right Half: Content -->
<div class="w-full lg:flex-1 flex justify-center items-center">
	<div class="wrapper p-8">
		<PagesMenu items={sections} />
	</div>
</div>
				</div>
</BaseSection>
</BaseLayout>
