---
import BaseLayout from "../layout/BaseLayout.astro"
import BaseSection from "../components/sections/BaseSection.astro"
import WorksSection from "../components/sections/WorksSection.astro"
import ServicesSection from "../components/sections/ServicesSection.astro"
import ServiceRetouch from "../components/sections/services_lists/ServiceRetouch.astro"
import ServiceColorCorrection from "../components/sections/services_lists/ServiceColorCorrection.astro"
import ServiceCollage from "../components/sections/services_lists/ServiceCollage.astro"
import AboutSection from "../components/sections/AboutSection.astro"
import ContactsSection from "../components/sections/ContactsSection.astro"
---

<BaseLayout>
  <WorksSection />

  <ServicesSection />
  <ServiceRetouch />
  <ServiceColorCorrection />
  <ServiceCollage />
  <BaseSection id="service-education"><p>service-education</p></BaseSection>
  <AboutSection />
  <ContactsSection />
</BaseLayout>
