---
import BaseLayout from "../layout/BaseLayout.astro"
import BaseSection from "../components/sections/BaseSection.astro"
import WorksSection from "../components/sections/WorksSection.astro"
import ServicesSection from "../components/sections/ServicesSection.astro"
import ServiceRetouch from "../components/sections/services_lists/ServiceRetouch.astro"
import AboutSection from "../components/sections/AboutSection.astro"
import ContactsSection from "../components/sections/ContactsSection.astro"
---

<BaseLayout>
  <WorksSection />

  <ServicesSection />
  <ServiceRetouch />
  <BaseSection id="service-color-correction"><p>service-color-correction</p></BaseSection>
  <BaseSection id="service-collage"><p>service-collage</p></BaseSection>
  <BaseSection id="service-education"><p>service-education</p></BaseSection>
  <AboutSection />
  <ContactsSection />
</BaseLayout>
