---
import BaseLayout from "../layout/BaseLayout.astro"
import WorksSection from "../components/sections/WorksSection.astro"
---

<BaseLayout>
  <WorksSection />

  <BaseSection id="services"><p>services</p></BaseSection>
  <BaseSection id="service-color-correction"><p>service-color-correction</p></BaseSection>
  <BaseSection id="service-retouch"><p>service-retouch</p></BaseSection>
  <BaseSection id="service-collage"><p>service-collage</p></BaseSection>
  <BaseSection id="service-education"><p>service-education</p></BaseSection>
  <BaseSection id="about"><p>about</p></BaseSection>
  <BaseSection id="contacts"><p>contacts</p></BaseSection>
</BaseLayout>
