---
import BaseLayout from "../layout/BaseLayout.astro"
import BaseSection from "../components/sections/BaseSection.astro"
const id = "Home";
---

<BaseLayout>
<BaseSection {id}>
<h1>Hello, world</h1>
</BaseSection>
</BaseLayout>
