---
import BaseLayout from "../layout/BaseLayout.astro"
import BaseSection from "../components/sections/BaseSection.astro"
import WorksSection from "../components/sections/WorksSection.astro"
import AboutSection from "../components/sections/AboutSection.astro"
import ContactsSection from "../components/sections/ContactsSection.astro"
---

<BaseLayout>
  <WorksSection />

  <BaseSection id="services"><p>services</p></BaseSection>
  <BaseSection id="service-color-correction"><p>service-color-correction</p></BaseSection>
  <BaseSection id="service-retouch"><p>service-retouch</p></BaseSection>
  <BaseSection id="service-collage"><p>service-collage</p></BaseSection>
  <BaseSection id="service-education"><p>service-education</p></BaseSection>
  <AboutSection />
  <ContactsSection />
</BaseLayout>
