---
interface Props {
  categories: { id: string; title: string; images?: string[] }[];
}

const { categories } = Astro.props;
---

<div
  x-data
  class="w-full h-full overflow-y-auto"
>
  {categories.map((cat, catIdx) => (
    <div
      x-show={`$store.gallery.activeCategory === ${catIdx}`}
      x-cloak
      class="grid grid-cols-2 sm:grid-cols-3"
    >
      {cat.images?.map(img => (
        <div class="aspect-square overflow-hidden cursor-pointer">
          <img
            src={`/src/images/${img}`}
            alt={cat.title}
            class="w-full h-full object-cover transition-opacity duration-300 hover:opacity-80"
          />
        </div>
      ))}
    </div>
  ))}
</div>
