---
import '../styles/global.css'
import BaseHeader from '../components/BaseHeader.astro';
import BaseFooter from '../components/BaseFooter.astro';

const {title="Site"} = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{title}</title>
	</head>
	<body>
		<BaseHeader/>
			<main>
				<slot/>
			</main>
		<BaseFooter/>
	</body>
</html>
