---
import '../styles/global.css';
import { Font } from "astro:assets";
import { ClientRouter } from 'astro:transitions';
import SiteMenu from '../components/menus/SiteMenu.astro';
import BaseFooter from '../components/BaseFooter.astro';

const {title="Site"} = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{title}</title>
		<Font cssVariable="--font-inter" />
		<ClientRouter />
	</head>
	<body>
		<SiteMenu/>
			<main>
				<slot/>
			</main>
		<BaseFooter/>
	</body>
</html>
